body{
    background: url("../img/logo4.jpg");
    background-size: cover;
    margin: 0;
    padding: 0;

}

#cont-algoritmos{
    width: 80%;
    margin: 10% auto;
    border: 2px solid floralwhite;
    text-align: center;
    padding: 30px;
    background: rgba(0, 0, 0, 0.589);
    
}

h1{
    color: aliceblue;
    font-size: 45px;
    margin-bottom: 40px;
}

h2{
    color: rgb(255, 97, 229);
    font-size: 40px;

}

button{
    padding: 8px 20px;
    border: 2px solid wheat;
    background-color: transparent;
    color: beige;
    margin: 20px;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: .5s;
}

button:hover{
    background: powderblue;
    color: darksalmon;
}